@model IEnumerable<consulauth.Models.ManageViewModels.UserInSystemViewModel>

@{
    ViewData["Title"] = "Usuarios";
}

<h2>Usuarios</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roles)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Roles", "Roles", new { id=item.UserName}) |

            </td>
        </tr>
}
    </tbody>
</table>
